div.math, .mutation, .crossover, .solution {
    overflow-x: auto;
}

.mutation, {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.crossover, .solution {
    margin-top: 5em;
    margin-bottom: 5em;
}
.mutation, .crossover, .solution {
    p {
        font-size: 1.25em;
        font-family: monospace;
        margin: unset;
    }
    .dark {
        background-color: #292f36;
        color: #F7FFF7; /*mint cream*/
    }
    .light {
        background-color: #F7FFF7;
        color: #292f36; /*gunmetal*/
    }
    .medium-turquoise {
        background-color: #4ecdc4;
        color: #292f36; /*gunmetal*/
    }
    .light-coral {
        background-color: #ec9192;
        color: #292f36; /*gunmetal*/
    }
    .yellow-crayola {
        background-color: #ffe66d;
        color: #292f36; /*gunmetal*/
    }
    [class*="subroute"] {
        outline: 1px solid #292f36;
    }
    [class*="underline"] {
        display: flex;
        font-size: 1.2em;
        justify-content: center;
        padding: 0.25em;
        margin-top: 0.5em;
        border-top: 1px solid #292f36;
    }

    .mutation [class*="subroute"] {
        outline: 1px solid #292f36;
    }

    .subroute-dark,
    .underline-dark{
        background-color: #292f36;
        color: #F7FFF7; /*mint cream*/
    }
    .subroute-light,
    .underline-light{
        /*background-color: #F7FFF7;*/
        color: #292f36; /*gunmetal*/
        padding: 0.25em;
    }
    .circle {
        border-radius: 100%;
        margin: 0.25em;
        width: 3em;
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #292f36;
    }


}
